<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Tela de Cadastro</h1>
        <label for=""><strong>Evento:</strong></label>
        <input class="entrada" type="text" name="event" placeholder="Semana ..."  required>
        <label for=""><strong>Data de início:</strong></label>
        <input class="entrada" type="datetime-local" name="dateinit" placeholder="Data"  required>
        <label for=""><strong>Data de Fim:</strong></label>
        <input class="entrada" type="datetime-local" name="dateend" placeholder="Data"  required>
        <label for=""><strong>Cor:</strong></label>
        <select name="color" class="entrada">
            <option selected="0">Cor</option>
            <option value="aqua"><div style="background-color: aqua;"></div>Aqua</option>
            <option value="lightskyblue"><div style="background-color: lightskyblue;"></div>Azul</option>
            <option value="lightgoldenrodyellow"><div style="background-color: lightgoldenrodyellow;"></div>Amarelo</option>
            <option value="lightsteelblue"><div style="background-color: lightsteelblue;"></div>Azul "Aço"</option>
            <option value="lightcoral"><div style="background-color: lightcoral;"></div>Coral</option>
            <option value="lightcyan"><div style="background-color: blue; width: 5px; height: 5px;"></div>Ciano</option>
        </select>
        <button type="submit">Cadastrar</button>
    </div>
</body>
</html>