<div class="container">
    <h1>Tela de Cadastro</h1>
    <label for=""><strong>Titulo:</strong></label>
    <input class="entrada" type="text" name="title" placeholder="Titulo"  required>
    <label for=""><strong>Descrição:</strong></label>
    <input class="entrada" type="text" name="desc" placeholder="Descrição" required>
    <label for=""><strong>Link:</strong></label>
    <input class="entrada" type="text" name="link" placeholder="Link"  required>
    <label for=""><strong>Cor:</strong></label>
    <select name="color" class="entrada">
        <option selected="0">Cor</option>
        <option value="aqua"><div style="background-color: aqua;"></div>Aqua</option>
        <option value="lightskyblue"><div style="background-color: lightskyblue;"></div>Azul</option>
        <option value="lightgoldenrodyellow"><div style="background-color: lightgoldenrodyellow;"></div>Amarelo</option>
        <option value="lightsteelblue"><div style="background-color: lightsteelblue;"></div>Azul "Aço"</option>
        <option value="lightcoral"><div style="background-color: lightcoral;"></div>Coral</option>
        <option value="lightcyan"><div style="background-color: blue; width: 5px; height: 5px;"></div>Ciano</option>
    </select>
    <button type="submit" name="btn">Cadastrar</button>
</div>
<script>
    var btn = document.querySelector('[name="btn"]');
    btn.addEventListener("click",function(){
        var Title = document.querySelector('[name="title"]');
        var Desc = document.querySelector('[name="desc"]');
        var link = document.querySelector('[name="link"]');
        var color = document.querySelector('[name="color"]');
        if(color.value === "Cor"){
            alert("Preencha o campo Cor corretamente!");
        }else{
            if(!Title.value){
                alert("Preencha o campo Título!");
            }else{
                if(!Desc.value){
                    alert("Preencha o campo Descrição!");
                }else{
                    if(!link.value){
                        alert("Preencha o campo Link!");
                    }else{
                        const obj = {
                            flag: 4,
                            Title: Title.value,
                            Desc: Desc.value,
                            link: link.value,
                            color: color.value
                        };
                        $.ajax({
                            url: '../../../controller/controlPanel3.php',
                            type: 'POST',
                            data: {data: JSON.stringify(obj)},
                            dataType: 'json',
                            success: function(data){
                                alert("Cadastro feito com sucesso");
                            },
                        });
                    }
                }
            }
        }
    })
</script>
