body {
    margin: 0;
    min-width:400px;
    width: 100%;
    overflow-x: hidden;
    background-color: #EAE8E8;
    text-align: center;
    display: block;
    justify-content: space-evenly;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.head {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    box-shadow: 2px 2px 4px #888888;
    align-items: center;
    justify-content: space-between;
    background-color: #C9C9C9;
}

.head-logo {
    align-items: center;
    height: 50%;
    position: sticky;
}

.head-icon {
    width: 60px;
    height: 48px;
    position: sticky;
    left: 90%;
}

.return-button {
    text-align: left;
    margin-top: 8px;
    margin-left: 8px;
}

.return-img {
    width: 25px;
    height: 25px;
}

.body-div-preB {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.body-div-buttons {
    height: 100%;
    row-gap: 10px;
    column-gap: 10px;
    margin-top: 2%;
    margin-left: 25%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

#search {
    width: 95%;
    height: 40px;
    border-radius: 30px;
    border: 0;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

#body-div-select {
    width: 95%;
    height: 40px;
    border-radius: 30px;
}

#table {
    width: 95%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: auto;
}

table {
    background: white;
}

.body-div-img {
    width: 40px;
    height: 40px;
    margin-left: 3px;
}

.body-div-input {
    border: none;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    width: 90%;
    height: 90%;
    font-size: 20px;
}

.button {
    width: 150px;
    height: 100px;
    border-radius: 3px;
    border: 0;
    display: flex;
    align-items: end;
    font-size: 16.5px;
    background-size: cover;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    word-wrap: break-word;

}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2%;
}

#mural {
    width: 80%;
    height: 400px;
    border-color: black;
    border-style: solid;
    border-radius: 30px;
}

.mini-links {
    margin-top: 1%;
    border-radius: 30px;
    width: 95%;
    height: auto;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    color: black;
}

.links {
    margin-top: 1%;
    margin-bottom: 1%;
    text-decoration: none;
    width: 95%;
    height: auto;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}

.table-flux {
    border-collapse: collapse;
    width: 95%;
}

.dado-flux {
    text-align: center;
    padding: 8px;
}

.color-button {

    padding: 5px;
    margin: 2px;
    cursor: pointer;
    border-radius: 30px;
    height: 60px;
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 1%;

}

.menu {
    font-family: arial;
    margin-left: 1%;
    padding: 0px;
    z-index: 2;
}

.menu-img {
    width: 50px;
}

.input-menu[type="checkbox"] {
    display: none;
}

.navigation {
    background-color: gray;
    width: 350px;
    height: 100%;
    left: -350px;
    position: absolute;
    transition: all .5s;
}

.input-menu[type="checkbox"]:checked~nav {
    transform: translateX(350px);
}

.list-menu {
    position: absolute;
    width: 87%;
    list-style: none;
}

.item-menu {
    text-decoration: none;
    color: black;
    display: block;
    padding: 20px 5px;

    &:hover {
        border-color: black;
        border-style: solid;
        border-top: 1px;
        border-left: 1px;
        border-right: 1px;
        color: white;
    }
}