<header>
    <div class="head">
        <div class="menu">
            <input type="checkbox" id="chec" class="input-menu">
            <label for="chec">
                <img src="./img/drag_handle.png" class="menu-img">
            </label>
            <nav class="navigation">
                <ul class="list-menu">
                    <li><a href="./Home.php" class="item-menu">Home</a> </li>
                    <li><a href="./Horarios.php" class="item-menu">Horários</a> </li>
                    <li><a href="./Contatos.php" class="item-menu">Contatos</a> </li>
                    <li><a href="./Links.php" class="item-menu">Links Úteis</a> </li>
                    <li><a href="./Fluxograma.php" class="item-menu">Fluxograma</a> </li>
                    <li><a href="./Calendario.php" class="item-menu">Calendário Acadêmico</a> </li>
                    <li><a href="https://ww2.uft.edu.br/index.php/aluno" target="_blank" class="item-menu">Espaço do Aluno</a> </li>
                    <li><a href="" class="item-menu">Ajuda</a> </li>
                    <li><a href="" class="item-menu">Cardápio RU</a> </li>
                    <li><a href="./Adm/view/paginaLogin.php" class="item-menu">Área do Administrador</a> </li>
                </ul>
            </nav>
        </div>

        <div class="div-menu">
            <img src="./img/companionLogo.png" class="head-logo">
        </div>
        <div class="div-menu">
            <img src="./img/companionIcon.png" class="head-icon">
        </div>
    </div>
</header>
