<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="menustyle.css">
</head>

<body>
    <input type="checkbox" id="chec">
    <label for="chec">
        <img src="drag_handle.png">
    </label>
    <nav>
        <ul>
            <li><a href="">Home</a> </li>
            <li><a href="">Horários</a> </li>
            <li><a href="">Contatos</a> </li>
            <li><a href="">Links Úteis</a> </li>
            <li><a href="">Fluxograma</a> </li>
            <li><a href="">Calendário Acadêmico</a> </li>
            <li><a href="">Espaço do Aluno</a> </li>
            <li><a href="">Ajuda</a> </li>
            <li><a href="">Cardápio RU</a> </li>
            <li><a href="">Área do Administrador</a> </li>
        </ul>
    </nav>
</body>
</html>