*{
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
    color: black;
}

body{
    font-family: arial;
}

ul{
    list-style: none;
}

img{
    width: 50px;
}

input[type="checkbox"]
{
    display: none;
}

nav{
    background-color: rgba(201, 201, 201,.5);
    width: 350px;
    height: 100%;
    left: -350px;
    position: absolute;
    transition: all .5s;
}

input[type="checkbox"]:checked ~ nav
{
    transform: translateX(350px);
}

ul{
    position: absolute;
    top: 60px;
    width: 100%;
}

a{
    display: block;
    padding: 20px 5px;
}

a:hover{
    background-color: rebeccapurple;
    color: white;
}

label{
    padding: 15px;
    position: absolute;
    z-index: 1;
}